@tailwind base;
@tailwind components;
@tailwind utilities;

html,
div,
code,
pre,
svg {
    scroll-behavior: smooth;
    transition: background-color 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
svg {
    transition: color 0.2s linear;
}

ol,
ul {
    padding-left: 20px;
    list-style: decimal;
}

ul {
    list-style: disc;
}

pre {
    padding: 15px;
    border-radius: 10px;
    @apply dark:bg-[#1d1d1d] bg-slate-50 overflow-x-auto
}

pre code {
    padding: 0;
    font-size: 15px;
    background-color: transparent !important;
}

code {
    padding: 1.5px 4px;
    border-radius: 5px;
    @apply dark:bg-[#272727] bg-slate-100
}

body::-webkit-scrollbar, .tiptap::-webkit-scrollbar {
    display: none;
}

[data-overlay-container] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}